
ficha1, ficha2, ficha3, ficha4{
    display: block;
    display: grid; 
    width: 32%;
    padding-left: 25%;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: teal;
    font-size: 25px;
    border-color: black;
}

titulo{
    background-color: rgb(211, 82, 82);
    padding: 20px;
    font-size: 30px;
}

nombre::before{
    content: "Nombre: "attr(nombre);
}
cell::before{
    content: "Telefono celular: "attr(nombre);
}
tell::before{
    content: "Telefono fijo: "attr(nombre);
}

direccion::before{
    content: "Direccion: "attr(direccion);
}
email::before{
    content: "Correo Electronico: "attr(email);
}

